body{
    background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
}

.bouncingball {
    width:140px;
    height:140px;
    border-radius:100%;
    background:#CCC;
    animation: bounce 1s;
    transform: translateY(0px);
    animation-iteration-count: infinite;
    position:absolute;
    margin:50px;
  }
  
  
  
  
  @keyframes bounce {
      0% {top: 0;
          -webkit-animation-timing-function: ease-in;
      }
      40% {}
      50% {top: 140px;
          height: 140px;
          -webkit-animation-timing-function: ease-out;
      }
      55% {top: 160px; height: 120px; 
          -webkit-animation-timing-function: ease-in;}
      65% {top: 120px; height: 140px; 
          -webkit-animation-timing-function: ease-out;}
      95% {
          top: 0;		
          -webkit-animation-timing-function: ease-in;
      }
      100% {top: 0;
          -webkit-animation-timing-function: ease-in;
      }
  }